{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center">Imvert - Home</h1>
    <p class="text-center">
        Have you ever had to convert an image format while working?
        Many have faced this task and not everyone knows how to solve it.
        And for those who know, it's pretty lazy to deal with it. That's why we present to you Imvert - an image
        converter!
        <br>
        Our image conversion service allows you to convert any photo to any desired format.
        Whether you need JPEG, PNG or any other format, we'll help you keep your image in the best quality.
        <br>
        With our online conversion, you easily and quickly get the desired result without any problems.
        By using our service, you get a simple and fast tool for converting any photo to any format.
        <br>
        All you need is just a few clicks! So enjoy our service and we'll work on improving it every day.
    </p>
{% endblock %}